<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>159982956490-imlqgv1r9eivc9ufj306jauebvo8u0h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.159982956490-imlqgv1r9eivc9ufj306jauebvo8u0h8</string>
	<key>API_KEY</key>
	<string>AIzaSyD1WA-fPL5UPnVAJ1vL33-WACSrnoHOlF4</string>
	<key>GCM_SENDER_ID</key>
	<string>159982956490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.derseyetis</string>
	<key>PROJECT_ID</key>
	<string>derseyetis-9ad35</string>
	<key>STORAGE_BUCKET</key>
	<string>derseyetis-9ad35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:159982956490:ios:18fd581c716987058b2933</string>
</dict>
</plist>